apiVersion: v1
kind: Service
metadata:
  name: {{ APP_NAME }}
spec:
  ports:
  - port: 80
    targetPort: 5678
  selector:
    {{ MATCH_SELECTORS_1 }}
    {% if MATCH_SELECTORS_2 is defined %}{{MATCH_SELECTORS_2}}{% endif %}

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ APP_NAME }}
spec:
  selector:
    matchLabels:
      {{ MATCH_SELECTORS_1 }}
  replicas: {{ REPLICAS_NUMBER }}
  template:
    metadata:
      labels:
        {{ METADATA_LABELS_1 }}
        {% if METADATA_LABELS_2 is defined %}{{METADATA_LABELS_2}}{% endif %}
    spec:
      containers:
      - name: {{ CONTAINER_1_NAME }}
        image: {{ CONTAINER_1_IMAGE }}
        ports:
        - containerPort: {{ CONTAINER_1_PORT }}
        
---

apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: {{ APP_NAME }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ APP_NAME }}
  minReplicas: {{ HPA_MIN_REPLICAS }}
  maxReplicas: {{ HPA_MAX_REPLICAS }}
  {% if HPA_MEM_SCALE is defined %}- type: Resource
    resource:
      name: memory
      targetAverageValue: {{ HPA_MEM_SCALE }}
  {% endif %}
  {% if HPA_CPU_SCALE is defined %}- type: Resource
    resource:
      name: cpu
      targetAverageUtilization: {{ HPA_CPU_SCALE }}
  {% endif %}